body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
<<<<<<< HEAD
    background-color: #33A;
    box-shadow: 0px 2px 20 px 0 px rgba(0,0.0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.sem;
=======
background-color: blue;
box-shadow: 0px 2px 20px 0px rgba(0,0.0,0.5);
color: white;
font-weight: bold;
margin: 0;
padding: 0.sem;
>>>>>>> c597172121d9d95e7ea02bd44c191e9fc603fa52

}
#container
{
    width: 70;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
<<<<<<< HEAD
}

=======
}
>>>>>>> c597172121d9d95e7ea02bd44c191e9fc603fa52
